.footer {
  background-color: #050f30;
  color: white;
  a {
    color: white;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    .left-group {
      .brand-box {
        .logo {
        }
        .logo-text {
        }
      }
      .address {
      }
      .phone-number {
      }
      .email {
      }
    }
    .right-group {
      .title {
      }
      .country-links {
        .country-group {
        }
      }
    }
  }
}
