//header
#header {
  min-height: 550px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),
    url("../assets/images/08.jpg") no-repeat fixed top center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-transform: capitalize;
    font-variant: small-caps;
    .header-title {
      font-size: 90px;
      color: white;
    }
    .header-description {
      font-size: 32px;
      color: white;
    }
    .header-btn {
      padding: 15px;
      padding-right: 25px;
      padding-left: 25px;
      background-color: cyan;
      outline: none;
      border: none;
      border-radius: 3px;
      color: white;
      text-transform: capitalize;
      font-variant: small-caps;
      font-size: 20px;
      transition: 0.2s;
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
      &:hover{
        opacity: 0.5;
        transition: 0.2s;
      }
    }
  }
}
