.part5 {
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/image/09.jpg") no-repeat fixed top center / cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    color: white;
    font-family: $main-title-font;
    font-size: 150px;
  }
  .video-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 5px black;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      .icon {
        transition: 0.3s;
        font-size: 20px;
      }
    }
    .icon {
      font-size: 10px;
    }
  }
}
