.nav {
  //for making the top nav bar to be stuck on top when we're scrolling
  // position: sticky;
  // top: 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px black;
  border-bottom: 0.6px solid gray;
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 8fr 2fr;
    grid-template-areas: "logo menu search";
    .brand-box {
      cursor: pointer;
      grid-area: logo;
      display: grid;
      grid-template-columns: repeat(2, 100px);
      justify-items: center;
      align-items: center;
      font-size: 35px;
      .logo {
        font-size: 55px;
        color: crimson;
      }
    }
    .menu {
      grid-area: menu;
      .menu-list {
        display: grid;
        grid-template-columns: repeat(6, 100px);
        text-align: center;
        .menu-item {
          padding: 20px;
          cursor: pointer;
          transition: 0.3s;
          border-bottom: 2px solid transparent;
          &:first-child > a {
            color: black;
          }
          &:hover {
            transition: 0.3s;
            border-bottom: 2px solid gray;
            a {
              color: black;
            }
          }
          a {
            color: #666;
            font-size: 15px;
          }
        }
        .pages {
          margin-left: 20px;
        }
      }
    }
    .search-icon {
      width: 40%;
      height: 100%;
      cursor: pointer;
      background-color: crimson;
      grid-area: search;
      display: grid;
      justify-items: center;
      align-items: center;
      color: white;
      font-size: 10px;
      transition: 0.5s;
      &:hover {
        transition: 0.5s;
        background-color: #f5f5f5;
        .icon {
          transition: 0.1s;
          font-size: 20px;
          color: #333;
        }
      }
    }
  }
}
