@media (max-width: 768px) {
  .nav {
    position: relative;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu-label {
        display: block;
        transition: 0.5s;
      }
      #menu-check-box {
        display: none;
      }
      .menu-small {
        display: none;
        transition: 1s;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0;
        li:not(:last-child) {
          border-bottom: 1px solid darkgray;
        }
        .active {
          a {
            color: black;
          }
        }
        li {
          width: 100%;
          background-color: #e4e4e4;
          transition: 0.2s;
          padding: 10px;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            transition: 0.2s;
            font-size: 18px;
            opacity: 0.9;
          }
          a {
            color: #333;
          }
        }
      }

      .menu {
        .menu-list {
          display: none;
        }
      }
      .nav-item-group {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .menu-bar-icon {
          width: 100%;
          display: block;
          font-size: 45px;
          font-family: $font-normal;
          cursor: pointer;
          &:hover {
            color: crimson;
          }
        }
        input[type="checkbox"]:checked ~ div.menu-small {
          transition: 0.5s;
          display: block;
        }
        .search-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 40px;
          background-color: #f0f0f0;
          color: crimson;
          padding: 20px;
          padding-inline: 30px;
          &:hover {
            .icon {
              color: black !important;
              font-size: 40px !important;
            }
          }
        }
      }
    }
  }
  #main {
    .part1 {
      padding: 10px;
      background-color: rgb(1, 1, 56);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .main-part1-question {
        grid-area: title;
        color: white;
        font-size: 40px;
        font-family: $font-bold-italic;
        margin-bottom: 5px;
      }
      form {
        grid-area: form;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
      }
      .main-part1-btn {
        width: 100%;
      }
    }
  }
  #main {
    .part2 {
      .container {
        display: grid;
        justify-items: center;
        align-items: center;
        margin-top: 30px;
        .title {
          margin-bottom: 20px;
          font-size: 50px;
        }
        .title-description {
          text-align: center;
          font-size: 17px;
          color: #333;
          margin-bottom: 30px;
        }
      }
    }
  }
  .part4 {
    .container {
      .text {
        .title {
          font-size: 25px;
          margin-bottom: 7px;
        }
        .title-description {
          text-align: center;
          font-size: 13px;
          color: #ecececa6;
          font-family: $font-bold;
        }
      }
      .btn {
        margin-left: 90px;
      }
    }
  }
}
