//variables
$font-normal: "roboto-normal";
$font-bold: "roboto-bold";
$font-bold-italic: "roboto-bold-italic";
$color-red-primary: crimson;
$container-width: 1100px;
$full-width: 100%;
$main-title-font: "main-title";
