*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "roboto-normal";
  src: url("../assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../assets/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "roboto-bold-italic";
  src: url("../assets/fonts/Roboto-MediumItalic.ttf");
}
@font-face {
  font-family: "main-title";
  src: url("../assets/fonts/NanumPenScript-Regular.ttf");
}
a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto-normal";
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.active {
  color: black;
}

.font-bold {
  font-family: "roboto-bold";
}

.title-font {
  font-family: "main-title";
}

img {
  display: block;
  width: 100%;
}

.menu-bar-icon {
  display: none;
}

.nav {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 1px 1px 4px black;
  border-bottom: 0.6px solid gray;
}
.nav .container {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 8fr 2fr;
  grid-template-areas: "logo menu search";
}
.nav .container .brand-box {
  cursor: pointer;
  grid-area: logo;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-items: center;
  align-items: center;
  font-size: 35px;
}
.nav .container .brand-box .logo {
  font-size: 55px;
  color: crimson;
}
.nav .container .menu {
  grid-area: menu;
}
.nav .container .menu .menu-list {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  text-align: center;
}
.nav .container .menu .menu-list .menu-item {
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
.nav .container .menu .menu-list .menu-item:first-child > a {
  color: black;
}
.nav .container .menu .menu-list .menu-item:hover {
  transition: 0.3s;
  border-bottom: 2px solid gray;
}
.nav .container .menu .menu-list .menu-item:hover a {
  color: black;
}
.nav .container .menu .menu-list .menu-item a {
  color: #666;
  font-size: 15px;
}
.nav .container .menu .menu-list .pages {
  margin-left: 20px;
}
.nav .container .search-icon {
  width: 40%;
  height: 100%;
  cursor: pointer;
  background-color: crimson;
  grid-area: search;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 10px;
  transition: 0.5s;
}
.nav .container .search-icon:hover {
  transition: 0.5s;
  background-color: #f5f5f5;
}
.nav .container .search-icon:hover .icon {
  transition: 0.1s;
  font-size: 20px;
  color: #333;
}

#header {
  min-height: 550px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("../assets/image/08.jpg") no-repeat fixed top center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
#header .container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-transform: capitalize;
  font-variant: small-caps;
}
#header .container .header-title {
  font-size: 90px;
  color: white;
}
#header .container .header-description {
  font-size: 32px;
  color: white;
}
#header .container .header-btn {
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: cyan;
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 20px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}
#header .container .header-btn:hover {
  opacity: 0.5;
  transition: 0.2s;
}

#main .part1 {
  padding: 10px;
  background-color: rgb(1, 1, 56);
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  align-items: center;
}
#main .part1 .main-part1-question {
  color: white;
  margin-right: 10px;
}
#main .part1 form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#main .part1 form .form-group {
  padding: 20px;
}
#main .part1 form .form-group input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}
#main .part1 form .form-group input::-moz-placeholder {
  padding: 10px;
  color: #333;
}
#main .part1 form .form-group input::placeholder {
  padding: 10px;
  color: #333;
}
#main .part1 .main-part1-btn {
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: rgb(255, 57, 57);
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}
#main .part1 .main-part1-btn:hover {
  opacity: 0.5;
  transition: 0.2s;
}

#main .part2 {
  margin-top: 50px;
}
#main .part2 .container {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
#main .part2 .container .title {
  margin-bottom: 20px;
  font-size: 30px;
}
#main .part2 .container .title-description {
  text-align: center;
  font-size: 15px;
  color: #333;
  margin-bottom: 50px;
}

#main .part3 {
  margin-bottom: 20px;
}
#main .part3 .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}
#main .part3 .container .card {
  width: 100%;
  min-height: 250px;
  border-radius: 5px;
  background-color: rgb(255, 86, 86);
  position: relative;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
}
#main .part3 .container .card:hover {
  transition: 0.5s;
  opacity: 0.8;
}
#main .part3 .container .card:hover img {
  transition: 0.5s;
  transform: scale(1.1);
}
#main .part3 .container .card .text-group {
  display: flex;
  justify-content: start;
  position: absolute;
  top: 100%;
  left: 10%;
  transform: translate(0, -160%);
}
#main .part3 .container .card .text-group .name {
  font-family: "roboto-bold";
  color: white;
  margin-right: 10px;
}
#main .part3 .container .card .text-group .card-btn {
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: cyan;
  font-family: "roboto-bold";
  font-size: 12px;
  color: white;
}
#main .part3 .container .card img {
  height: 250px;
  display: block;
  border-radius: 5px;
}

.part4 {
  margin-bottom: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/02.jpg") no-repeat fixed center center/cover;
  min-height: 200px;
}
.part4 .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 200px;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
}
.part4 .container .text {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
}
.part4 .container .text .title {
  color: white;
  font-size: 20px;
  font-family: "roboto-bold";
}
.part4 .container .text .title-description {
  font-size: 11px;
  color: #999;
}
.part4 .container .input-group {
  width: 150%;
  margin-left: 132px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.part4 .container .input-group input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px 4px black;
  font-family: "roboto-bold";
}
.part4 .container .btn {
  margin-left: 50px;
  padding: 7px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 57, 57);
  outline: none;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
}
.part4 .container .btn:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.part5 {
  margin-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/09.jpg") no-repeat fixed top center/cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.part5 .title {
  color: white;
  font-family: "main-title";
  font-size: 150px;
}
.part5 .video-btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 1px 1px 5px black;
  transition: 0.4s;
  cursor: pointer;
}
.part5 .video-btn:hover .icon {
  transition: 0.3s;
  font-size: 20px;
}
.part5 .video-btn .icon {
  font-size: 10px;
}

.footer {
  background-color: #050f30;
  color: white;
}
.footer a {
  color: white;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer .container .left-group {
  text-align: justify;
  font-size: 15px;
  font-family: "roboto-bold";
}
.footer .container .left-group .brand-box {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.footer .container .left-group .brand-box .logo {
  color: crimson;
  font-size: 80px;
  margin-right: 10px;
}
.footer .container .left-group .brand-box .logo-text {
  font-family: "roboto-bold";
  font-size: 40px;
}
.footer .container .left-group .text-group {
  margin-left: 2px;
}
.footer .container .left-group .text-group .phone-number {
  margin: 7px 0px;
}
.footer .container .right-group {
  display: flex;
  flex-direction: column;
}
.footer .container .right-group .title {
  font-size: 30px;
  font-family: "roboto-bold";
  margin-bottom: 5px;
}
.footer .container .right-group .country-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.footer .container .right-group .country-links .country-group li {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .nav {
    position: relative;
  }
  .nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav .container .menu .menu-list {
    display: none;
  }
  .nav .container .nav-item-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav .container .nav-item-group .menu-bar-icon {
    margin-right: 25px;
    width: 100%;
    display: block;
    font-size: 45px;
    font-family: "roboto-normal";
    cursor: pointer;
  }
  .nav .container .nav-item-group .menu-bar-icon:hover {
    color: crimson;
  }
  .nav .container .nav-item-group .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #f0f0f0;
    color: crimson;
    padding: 20px 0px;
    padding: 20px 10px;
  }
  .nav .container .nav-item-group .search-icon:hover .icon {
    color: black !important;
    font-size: 40px !important;
  }
  #main .part1 {
    padding: 10px;
    background-color: rgb(1, 1, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main .part1 .main-part1-question {
    grid-area: title;
    color: white;
    font-size: 40px;
    font-family: "roboto-bold-italic";
    margin-bottom: 5px;
  }
  #main .part1 form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }
  #main .part1 .main-part1-btn {
    width: 100%;
  }
  #main .part2 .container {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
  }
  #main .part2 .container .title {
    margin-bottom: 20px;
    font-size: 50px;
  }
  #main .part2 .container .title-description {
    text-align: center;
    font-size: 17px;
    color: #333;
    margin-bottom: 30px;
  }
  .part4 .container .text .title {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .part4 .container .text .title-description {
    text-align: center;
    font-size: 13px;
    color: rgba(236, 236, 236, 0.6509803922);
    font-family: "roboto-bold";
  }
  .part4 .container .btn {
    margin-left: 90px;
  }
}
@media (max-width: 425px) {
  #header {
    min-height: 500px;
  }
  #header .container .header-title {
    font-size: 70px;
    color: white;
  }
  #header .container .header-description {
    text-align: center;
    font-size: 22px;
    color: white;
  }
  #main .part1 .main-part1-question {
    font-size: 30px;
  }
  #main .part2 .container .title {
    font-size: 40px;
  }
  #main .part2 .container .title-description {
    font-size: 13px;
  }
  .part3 .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "card1 card1 card1" "card2 card2 card2" "card3 card3 card3" "card4 card4 card4" "card5 card5 card5" "card6 card6 card6";
  }
  .part3 .container .card:not(:last-child) {
    margin-bottom: 10px;
  }
  .part3 .container .card-1 {
    grid-area: card1;
  }
  .part3 .container .card-2 {
    grid-area: card2;
  }
  .part3 .container .card-3 {
    grid-area: card3;
  }
  .part3 .container .card-4 {
    grid-area: card4;
  }
  .part3 .container .card-5 {
    grid-area: card5;
  }
  .part3 .container .card-6 {
    grid-area: card6;
  }
  .part4 {
    min-height: 300px;
  }
  .part4 .container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "text text text" "input input input" "button button button";
    grid-gap: 5px;
  }
  .part4 .container .text {
    margin-top: 40px;
    grid-area: text;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  .part4 .container .text .title {
    color: white;
    font-size: 30px;
  }
  .part4 .container .text .title-description {
    text-align: center;
    font-size: 13px;
    color: #ececec;
  }
  .part4 .container .input-group {
    grid-area: input;
    width: 100%;
    margin-left: 0px;
    padding: 15px;
  }
  .part4 .container .btn {
    width: 100%;
    grid-area: button;
    margin-left: 0px;
    font-size: 20px;
  }
  .part5 .title {
    font-size: 100px;
  }
  .footer .container .left-group {
    grid-column: 1/-1;
  }
  .footer .container .right-group {
    margin-top: 20px;
    grid-column: 1/-1;
  }
}
@media (max-width: 375px) {
  .part5 .title {
    font-size: 90px;
  }
}/*# sourceMappingURL=style.css.map */