//variables
@import "variables";
//reset and global
@import "reset-global";
//nav
@import "navbar";
//header
@import "header";
//main top
@import "main-top";
//main-top-title
@import "main-top-title";
//main-middle
@import "main-middle";
//main-bottom-part4
@import "main-bottom-part4";
//main-bottom-part5
@import "main-bottom-part5";
//footer
@import "footer";
//tablet
@import "tablet";
//large phone
@import "large-phone";
// // medium phone
// @import "medium-phone";
// // small phones
// @import "small-phone";
